body {
    margin: 0;
    padding: 0;
    min-width: 1280px;
	background-color: #f2f2f2;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 1200px;
    margin: 0 auto;
/*    border: 1px solid blue;*/
}

main {
    display: flex;
    flex-direction: column;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    max-height: 56px;
}

.nav {
    display: flex;
    min-width: 357px;
}

.leftNav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 72px;
}

.rightNav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 72px;
}

.nav li {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
}

.nav li:hover {
    color: #3498db;
    transition: all 0.1s;
}

.nav li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav a:first-child {
    margin-right: 145px;
}

.high {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 138px;
    height: 70px;
}

.mainBack {
    display: flex;
    background: url("../img/background.jpg") no-repeat;
    background-position: 0 -55px;
    width: 1200px;
    height: 520px;
}

.mainBack h1 {
    font-size: 128px;
    font-weight: 700;
    letter-spacing: 12px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 175px;
}

.transForm {
    position: absolute;
    top: 520px;
}

.fastDes {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 1200px;
    height: 216px;
    text-align: center;
}

.fastP {
    margin: auto;
}

.fastP p:first-child {
    font-size: 21px;
    line-height: 26px;
    color: #000;
    font-weight: 700;
}

.fastP p:last-child {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    opacity: 0.6;
}

.numberOne {
    display: flex;
}

.blockOne {
    display: flex;
    width: 400px;
    height: 256px;
    background-color: #81b3d2;
}

.textOne {
    width: 320px;
    min-height: 190px;
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.textOne h2, .textOne p {
    padding: 2px;
}

.features {
    display: flex;
    width: 1200px;
    background-color: #fff;
}

.featuresBox {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 330px;
    text-align: center;
    background-color: #fff;
    margin: auto;
}

.featuresBox h3 {
    font-size: 21px;
}

.featuresBox p {
    font-size: 14px;
    color: #333333
}

.featuresBox img, 
.featuresBox h3, 
.featuresBox p {
    margin: auto;
}

.lockSize {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 262px;
    height: 214px;
}

.lastFeatures {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    height: 256px;
    background-color: #eeeeee;
    text-align: center;
    font-weight: bold;
}

.lastFeatures section {
    min-width: 330px;
    height: 192px;
    margin: auto;
}

.lastFeatures h3 {
    font-size: 26px;
}

.lastFeatures p {
    font-size: 18px;
    color: #333333;
}

.interested {
    display: flex;
    width: 1200px;
    height: 290px;
    background-color: #fff;
    text-align: center;
}

.intoInter {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 576px;
    height: 291px;
}

.intoText {
    width: 444px;
    height: 108px;
    margin: auto;
}

.intoText h3 {
    font-size: 30px;
}

.intoText p {
    font-size: 16px;
    margin-top: -16px;
    color: #333333;
}

.searchHotels {
    display: flex;
    margin-top: auto;
    width: 568px;
    height: 86px;
    background-color: #766357;
}

.searchHotels p {
    margin: auto;
    font-size: 21px;
}

.map {
    display: flex;
    background: url("../img/map.png") no-repeat;
    width: 1200px;
    height: 594px;
    border-top: 4px solid #766357;
}

.mainFooter {
    display: flex;
    width: 1200px;
    height: 120px;
    margin-top: auto;
    background-color: #fff;
    opacity: 0.9;
}

.lockFooter {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 980px;
    height: 70px;
    align-items: center;
}

.hashtag p {
    font-size: 24px;
    
}

.bl {
    display: flex;
    background-color: #81b3d2;
    color: #fff;
}

.bl p {
    margin: auto;
}

.socials {
    display: flex;
}

.socials a {
    padding: 12px;
    margin-right: 10px;
    border: 1px solid transparent;
}

.socials a:hover {
    border: 1px solid #fff;
    transition: all 0.1s;
}

.socials a:last-child {
    margin-right: 0;
}